body {
    background-color: cyan;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

ul li {
    text-decoration: none;
}

form {
    justify-content: center;
    align-items: center;
}