body {
    background-image: url('./atlanta.jpeg');
    background-size: 100%;
    
}

h1 {
    text-align: center;
}



li a {
    text-decoration: underline;
    color: greenyellow;
}

li a:visited {
    text-decoration: none;
    color: greenyellow;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    background-color: rgba(30,30,30,.7)
}
ul li {
    text-decoration: none;
    color: white;
}

.linklist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(30,30,30,.7)

}

form {
    background-color: rgba(30,30,30,.7);
    color: white;
}