
<h1>Trip Planner</h1>

<h3><a href="/landmarks/new">New Landmark</a></h3>

<h3>List of Landmarks</h3>

<ul>

    {{#each landmarks}}
    <li>
        <a href ="/landmarks/{{_id}}">{{name}}</a>
        <p>{{description}}</p>
    </li>
    {{/each}}
</ul>