
<form method="POST" action="/landmarks"/>
    <label for="name">Name</label>
    <input type="text" name="name"/>

<address>
    <label for="address.street">Address</label>
    <input type="text" name="address.street"/>

    <label for="address.city">City</label>
    <input type="text" name="address.city"/>

    <label for="address.state">State</label>
    <input type="text" name="address.state"/>

    <label for="address.zip">ZIP Code</label>
    <input type="text" name="address.zip"/>
</address>

    <label for="description">Description</label>
    <input type="text" name="description"/>

    <label for="price">Price</label>
    <input type="number" name="price"/>

    <input type="submit" value="Create Landmark"/>
</form>