<form method="POST" action="/foods"/>
    <label for="name">Name</label>
    <input type="text" name="name"/>

<address>
    <label for="street">Street</label>
    <input type="text" name="address.street"/>

    <label for="city">City</label>
    <input type="text" name="address.city"/>

    <label for="state">State</label>
    <input type="text" name="address.state"/>

    <label for="zip">Zip</label>
    <input type="number" name="address.zip"/>
</address>

    <label for="cuisine">Cuisine</label>
    <input type="text" name="cuisine"/>

    {{!-- <label for="venue">Venue Type</label>
    <input type="string" name="venueType"/> --}}

    <label for="venue">Venue Type</label>
    <select name="venueType">
        <option value="Food Truck">Food Truck</option>
        <option value="Fast Food">Fast Food</option>
        <option value="Fast Casual">Fast Casual</option>
        <option value="Dine-in Restaurant">Dine-in Restaurant</option>
    </select>

    <label for="price">Price</label>
    <input type="number" name="price"/>

    <input type="submit" value="Create Food"/>
</form>