
<form method="POST" action="/issues"/>
    <label for="description">Name</label>
    <input type="text" name="description"/>

    <label for="createdAt">Date</label>
    <input type="date" name="createdAt"/>

    <label for="status">Status</label>
    <input type="text" name="status"/>

    <label for="priority">Priority</label>
    <input type="text" name="priority"/>

    <input type="submit" value="Create Issue"/>
</form>